[submodule "public."]
	path = public.
	url = https://github.com/applerdotxyz/applerdotxyz.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/applerdotxyz/applerdotxyz.github.io.git
	branch = master
